{{>layouts/header}}
<form class="container" action="/hospitals" method="get">
    <form class="row g-3">
        <div class="col-auto">
            {{#keyword}}
                <input type="text" class="form-control" name="keyword" value="{{keyword}}" placeholder="지역검색">
            {{/keyword}}
            {{^keyword}}
                <input type="text" class="form-control" name="keyword" placeholder="지역검색">
            {{/keyword}}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">조회</button>
        </div>
    </form>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">병원명</th>
        <th scope="col">도로명 주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {{# keyword}}
        <a class="page-item"><a class="page-link" href="?page={{previous}}&keyword={{keyword}}">이전</a></li>
        <a class="page-item"><a class="page-link " href="?page={{next}}&keyword={{keyword}}">다음</a></li>
    {{/ keyword}}
    {{^ keyword}}
        <a class="page-item"><a class="page-link" href="?page={{previous}}">이전</a></li>
        <a class="page-item"><a class="page-link " href="?page={{next}}">다음</a></li>
    {{/ keyword}}
</ul>
{{>layouts/footer}}