<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="mb-5 container-fluid">
    <hr>
    <p> @JinhyuckBoard <a href="location:8080">Privacy</a><a href=""#>Terms</a></p>
</div>

</body>
</html>