{{> layouts/header}}
<h2>edit page</h2>
{{# posts}}
    <form action="/posts/{{id}}/update" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="title" value="{{title}}">
        <textarea rows="3" name="content" value="{{content}}"></textarea>
        <button type="submit" class="btn btn-primary">edit</button>
    </form>
    <a href="/post/list/{{id}}">조회 페이지</a>
    <a href="/post/list">목록</a>
{{/ posts}}
{{> layouts/footer}}