{{> layouts/header}}
<div class="col-md-12">
    <form class="container" action="/posts/new" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">
        </div>

        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요">
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea type="text" class="form-control" name="content" placeholder="내용을 입력하세요"></textarea>
        </div>
        <button type="submit" class="btn btn-primary bi bi-pencil-fill" id="btn-save">작성완료</button>
        <a href="/posts/list" role="button" id="btn" class="btn btn-info bi bi-arrow-return-left">돌아가기</a>
    </form>
</div>
{{> layouts/footer}}