{{> layouts/header}}
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            {{#posts}}
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{title}}" readonly>
                </div>

                <div class="form-group">
                    <label for="writer">작성자</label>
                    <input type="text" class="form-control" id="writer" value="{{writer}}" readonly>
                </div>

                <div class="form-group">
                    <label for="createdDate">등록일</label>
                    <input type="text" class="form-control" id="createdDate" value="{{createdDate}}" readonly>
                </div>

                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea type="text" class="form-control" id="content" value="{{content}}" readonly></textarea>
                </div>
            {{/posts}}
        </form>
    </div>
    {{# posts}}
        <a href="/articles/{{id}}/edit" class="btn btn-primary">수정</a>
        <a href="/articles/{{id}}/delete" class="btn btn-danger">삭제</a>
        <a href="/articles" class="btn btn-info">목록</a>
    {{/ posts}}
</div>
{{> layouts/footer}}