{{> layouts/header}}
<div id="wrapper" class="container mt-3">
    <div id="pageTitle">
        <h1>게시글 목록</h1>
    </div>
    <table class="table">
        <thead>
        <tr style="background-color: #fff7e9;">
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Writer</th>
        </tr>
        </thead>
        <tbody>
        {{# articles}}
        <tr>
            <td>{{articleId}}</td>
            <td>{{title}}</td>
            <td><a href="/articles/{{articleId}}"> {{content}} </a></td>
            <td>{{writer}}</td>
        </tr>
        {{/ articles}}
        {{^ articles}}
            <td class="text-center" colspan="4"> 현재 등록된 게시글이 없습니다. </td>
        {{/articles}}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-primary me-3" href="/articles/new" role="button">Write</a>
    </div>
</div>
{{> layouts/footer}}