{{> layouts/header}}
<table id="table" class="table table-horizontal">
    <thead class="thead-strong">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr>
        <td>1</td>
        <td>제목11.</td>
        <td>작성자1</td>
        <td>2022-11-12</td>
        <td>0</td>
    </tr>

    <tr>
        <td>2</td>
        <td>제목22.</td>
        <td>작성자2</td>
        <td><td>2022-11-12</td>
        <td>0</td>
    </tr>

    <tr>
        <td>3</td>
        <td>제목33.</td>
        <td>작성자3</td>
        <td><td>2022-11-12</td>
        <td>0</td>
    </tr>
    </tbody>
</table>
<div class="col-md-12">
    <a href="/form/registerForm" id ="btn" role="button" class="btn btn-primary bi bi-pencil-fill float-right"> 글쓰기</a>
</div>
{{> layouts/footer}}